body{
position: relative;
width: 375px;
height: 812px;
background: #000000;
color: white;
}

.logo{
	position: absolute;
	left: 10px;
	top: 10px;
}

.navbar {

  background-color: #000000;
/*  float: right;*/
  position: absolute; /*menu*/
  z-index: 1; /*menu*/
  width: 100%; /*menu*/
}

.navbar a {

  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 40px 10px 16px;
  text-decoration: none;
  font-weight: 300;

}

#navbar-right{
  float: right;
  margin: auto;
  margin-top: 20px;
}

.navbar a:hover{
  text-decoration: underline;

}

.navbar-right {
    float: right;
    padding-top: 1.5%;
    padding-right: 1.5%;
}

.navbar-right a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.navbar-right .icon {
  display: none;
}

.titleminors{
	background: url("images/valentin-salja-CLvkkjb-i3g-unsplash.jpg");
	-webkit-background-clip: text;
   	-webkit-text-fill-color: transparent;
   	position: absolute;
	background-size: cover;
	font-family: Poppins;
	font-style: normal;
	font-weight: 900;
	font-size: 60px;
	line-height: 240px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}


.profile{
	position: absolute;
width: 193px;
height: 357px;
left: -9px;
top: 104px;

background: url(IMG_5046.jpg);
}

.text1{

position: absolute;
width: 186px;
height: 23px;
left: 134px;
top: 104px;

font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 19px;
line-height: 23px;
letter-spacing: 0.15em;
}

.text2{
	position: absolute;
width: 241px;
height: 46px;
left: 134px;
top: 133px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 23px;
letter-spacing: 0.15em;
}

.text3{
	position: absolute;
width: 184px;
height: 100px;
left: 199px;
top: 233px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 133.2%;
/* or 25px */

letter-spacing: 0.15em;

color: #CF7E04;
}



@media screen and (max-width: 600px) {
  /*hamburger responsive deel*/
   .navbar-right a {
    display: none;
  }
  .navbar-right a.icon {
    float: right;
    display: block;
    font-size: 40px;
    text-decoration: none;
    padding: 4px 25px 0px 0px;
    position: absolute;
    right: 0;
    top: 13px;
  }
  .navbar-right.responsive {
    margin-top: 30%;
    height: 640px;
    width: 100%;
    float: none;
    
  }
  .navbar-right.responsive .icon {
    font-size: 40px;
    position: absolute;
    right: 0;
    top: -8px;

  }
  .navbar-right.responsive a {
    font-size: 20px;
    padding: 25px;
    float: none;
    display: block;
    text-decoration: none;
  }
  
}
@media screen and (min-width: 600px) {
  body{
    background: white;
  }